.side-bar{
    width: 15%;
}
.heading{
    font:20px;
}
.sideBar{
    width: 20;
}

.logoh2{
    display: flex;
    margin: 54px 20px;
}
.img1{
    height: 50px;
    width: 50px;
}
.h22{
    width: 40px;
    margin-left: 20px;
    font-size: 20px;
}
.ulll{
    /* list-style: none;
     */
     width: 60%;
}
ul>li{
    list-style: none;
    /* width: 50%; */
    margin-top: 25px;
    font-size: 20px;
}
.logout{
    height: 40px;
    width: 80px;
    background-color:#7B57DF;
    border-radius: 18px;
    width: 200px;
}
.lggou{
    margin-right: 1px;
    margin-top: 300px;
}
ul{
    width: 137%;
}
.overview{
    width: 80%;
    /* background-color: black; */
    height: 740px;
    border-left: 1px solid gray;
}
.warehouse{
    display: flex;

}
.nav{
    height: 50px;
    width: 100%;
    /* background-color: black; */
    /* margin-left: 100px; */
    display: flex;
    justify-content: end;
}
.btnn1{
    height: 40px;
    width: 200px;
    margin: 10px 10px;
    border: none;
    background-color: white;
}
.btnn2{
    height: 40px;
    width: 200px;
    margin: 10px 10px;
    border-radius: 15px;
    background-color: #ED556A;
    color: white;
}
.btw{
    /* background-color: #ED556A; */
    height: 70px;
    display: flex;
}
.btw>h1{
    margin: 33px 70px;
    font-weight: 600;
    font-size: 30px;
}
.dataoverall{
    height: 170px;
    width: 100%;
    color: black;
    margin-top: 20px;
    padding: 10px 68px;
    display: flex;
}
.one{
 height: 120px;
 width: 220px;   
 background-color: whitesmoke;
 border-radius: 10px;
 border: 0.2px solid rgb(244, 240, 240);
 margin-right: 50px;
 margin-top: 20px;
 display: flex;
}
.imgone{
    height: 30px;
    width: 30px;
    margin-top: 33px;
    margin-right: 25px;
}
.onee{
    margin-top: 21px;
    text-align: left;
    margin-left: 20px;
}
.onee>p{
    color: black;
    font-size: 17px;
}
.two{
    height: 120px;
    margin-right: 50px;
    width: 220px;   
    background-color: blue;
    margin-top: 20px;
}
.three{
    margin-right: 50px;
    height: 120px;
    width: 220px;   
    background-color: blue;
    margin-top: 20px;
}
.four{
    margin-right: 50px;
 height: 120px;
 width: 220px;   
 background-color: blue;
 margin-top: 20px;
}
.onee{
    height: 120px;
    width: 220px;   
}
.twoo{
    height: 120px;
    width: 220px;   
}
.threee{
    height: 120px;
    width: 220px;   
}
.foure{
    height: 120px;
    width: 220px;   
}
.waredata{
    width: 39%;
    height:372px;
    background-color: whitesmoke;
    margin-left: 66px;
}
.waredata>h3{
    text-align: left;
    padding: 12px 12px;
    font-size: 19px;
    font-weight: 500;
}
.ulllii{
    /* margin: 0px 0px; */
    display: flex;
    width: 100%;
}
.ulllii1{
    /* margin: 0px 0px; */
    display: flex;
    width: 100%;
}
.ulllii>p{
    margin-left: 30px;
    color:  #8B8B8B;
}
.p1{
    color: #8B8B8B;
    width: 42px;
    text-align: center;
    margin-left: 33px;
}
.p2{
    margin-left: 100px;
    color:  #8B8B8B;
}
.p3{
    margin-left: 45px;
    color:  #8B8B8B;
}
.viewbtn{
    height: 25px;
    width: 70px;
    margin-left: 44px;
    /* background-color:#cfcbc0; */
    color: #FFBB00;
    border: none;
}
.delbtn{
    color: #FF0000;
    height: 25px;
    width: 70px;
    margin-left: 34px;
    border: none;
}
.shipbtn{
    color: green;
    height: 25px;
    width: 70px;
    margin-left: 34px;
    border: none;
}
.allwaredata{
    height: 400px;
    width: 100%;
    display: flex;
}
.edit{
    height: 120px;
    width: 500px;
    background-color: #111110;
    position: absolute;
    top: 300px;
    left: 490px;
    border-radius: 20px;
    display: none;
}
.edit>p{
    margin-top: 20px;
}
.edit>input{
    margin-left: 10px;
    height: 30px;
    width: 180px;
    border: none;
    border-radius: 12px;
}
.btnsave{
    height: 30px;
    width: 80px;
    margin-left: 10px;
    border: none;
    border-radius: 12px;
}